<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         colors="false"
         bootstrap="vendor/autoload.php">

    <testsuites>
        <testsuite name="SMSAPI - Unit Tests Suite">
            <directory>./test/Unit</directory>
        </testsuite>

        <testsuite name="SMSAPI - Integration Tests Suite">
            <directory>./test/Integration</directory>
        </testsuite>
    </testsuites>

</phpunit>